.contact-img {
  width: 100%;
}

.contact-title {
  position: absolute;
  text-align: center;
  color: white;
  text-emphasis: 100%;
  font-family: GeoSteam;
  font-size: 62px;
  margin-top: 5%;
}

.whatsapp-contact-box {
  margin-top: 20%;
  height: 20vh;
  width: 20vw;
  background-color: grey;
}

.contact-link {
  color: red;
}

body {
  background-color: #c6d4dc;
}
