.main {
  background-color: #c6d4dc;
}

.banner {
  height: 65vh;
}

.slogan {
  font-family: GeoSteam;
  margin-top: 5%;
  margin-bottom: 2.5%;
  color: rgb(74, 69, 64);
}

.menu-promo {
  background-image: url("../img/rusty-background.jpg");
  width: auto;
  min-height: 40vh;
  max-height: 10vh;
}

.actual-promo-text {
  font-size: 30px;
  font-weight: bold;
}

.gallery-img {
  width: 100%;
}
